In [1]:
# convert json to csv

import json
import csv

# Open the JSON file and load the data into a list of dictionaries
with open("data/quotes.json", "r", encoding="utf-8") as f:
    data = json.load(f)["quotes"]


# Open the CSV file for writing and write the header row
with open("quotes.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.DictWriter(f, fieldnames=["text", "author"])
    writer.writeheader()

    # Write each row to the CSV file
    for quote in data:
        writer.writerow(quote)

In [2]:
import requests
import json
import random
import pandas as pd

In [4]:
df = pd.read_csv("data/quotes.csv")

In [5]:
df.sample(10)

                                                   text           author
867   Not single is the death which comes; the death...           Seneca
1692  He blind, who cannot see with the eyes of his ...  Marcus Aurelius
709   Certain people have good, ordinary blood and o...           Seneca
426   The greatest obstacle to living is expectancy,...           Seneca
42    Asked, Who is the rich man? Epictetus replied,...        Epictetus
417   Fidelity purchased with money, money can destroy.           Seneca
768   The man who tries to find out what has been sa...           Seneca
1400  Do not look around to discover other people's ...  Marcus Aurelius
1533  Men exist for the sake of one another. Teach t...  Marcus Aurelius
713   "Well then, shall we act like other men? Shall...           Seneca

In [6]:
df.shape

(1774, 2)

In [7]:
df.describe()

                                            text  author
count                                       1774    1774
unique                                      1726       4
top     While we are postponing, life speeds by.  Seneca
freq                                           3     768

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df["author"].value_counts()

author
Seneca             747
Marcus Aurelius    681
Epictetus          302
Cleanthes            1
Name: count, dtype: int64

In [10]:
df = df[df["author"] != "Cleanthes"]
# df["author"].value_counts()
df

                                                   text           author
0     If anyone tells you that a certain person spea...        Epictetus
1     Wealth consists not in having great possession...        Epictetus
2     There is only one way to happiness and that is...        Epictetus
3     Man is not worried by real problems so much as...        Epictetus
4     First say to yourself what you would be; and t...        Epictetus
...                                                 ...              ...
1768           It is royal to do good and to be abused.  Marcus Aurelius
1769  Things?—I was once a fortunate man, but I lost...  Marcus Aurelius
1770  Even chance is not divorced from nature, from ...  Marcus Aurelius
1771  Be not either a man of many words, or busy abo...  Marcus Aurelius
1772  But death and life, success and failure, pain ...  Marcus Aurelius

[1730 rows x 2 columns]

In [11]:
df["author"].value_counts()

author
Seneca             747
Marcus Aurelius    681
Epictetus          302
Name: count, dtype: int64

In [12]:
df.to_csv('cleanData.csv', index=False)